.contact{
    background-color: #0a0f14;
    margin: 50px 0;
}
.contact-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}
.contact-container h1{
    margin-bottom: 2rem;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 0 18px;
}
.contact-container .client-card{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
}
/* .contact-container .client-card img{
    grid-column: span 3;
} */

@media(max-width: 1000px){
    .contact-container .client-card .image{
        grid-column: span 2;
    }
    .contact-container .client-card{
        gap: 4rem;
    }
}
@media(max-width: 500px){
    .contact-container .client-card .image{
        grid-column: span 3;
    }
    .contact-container .client-card{
        gap: 2.8rem;
    }
}