.contact-f{
    max-width: 1200px;
    margin: 40px auto;
}
.contact-f-container h1{
    text-align: center;
    margin-bottom: 4rem;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}
.contact-f-container .content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 6rem;
    width: 100%;
}
.contact-f-container .content .formBx{
    grid-column: span 6;
    width: 500px;
}
.contact-f-container .content .formBx .input-field{
    width: 100%;
}
.contact-f-container .content .formBx:last-child{
    width: 320px;
}
.content .formBx .form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.content .formBx .form_control label{
    color: #fcfcfc;
}
.content .formBx .form_control .box{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #343c41;
    padding: 10px 10px;
    color: var(--text-color);
    width: 100%;
}
.content .formBx .form_control textarea{
    resize: none;
    height: 110px;
}
.content .formBx .phone,
.content .formBx .email,
.content .formBx .address{
    margin-bottom: 60px;
    color: #fcfcfc;
}
.content .formBx .iconBx{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 18px;
}
.content .formBx .iconBx .icon{
    font-size: 1.5rem;
}
.content .formBx .iconBx span{
    font-size: 1rem;
    margin-left: 15px;
}
.content .formBx .iconTx{
    padding-left: 35px;
    color: #a0a0a0;
    margin-bottom: 10px;
    font-size: .9rem;
}
.content .formBx .iconTx .call{
    margin-left: 20px;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 4px 26px;
    font-size: .7rem;
    border-radius: 50px;
}


@media(max-width: 1024px){
    .contact-f-container .content{
        gap: 3rem;
    }
    .contact-f-container .content .formBx{
        width: 400px;
    }
}

@media(max-width: 824px){
    .contact-f-container .content{
        gap: 1rem;
    }
    .contact-f-container .content .formBx{
        grid-column: span 12;
        width: 100%;
    }
    .contact-f-container .content .formBx:last-child{
        width: 100%;
        margin-top: 3rem;
    }
}
