.h-wrapper{
    background-color: var(--dark);
    color: white;
}
.h-wrapper .h-container{
    justify-content: space-between;
    padding: 2rem 4rem 1rem 4rem;
}
.h-wrapper .h-container .h-menu{
    gap: 1.5rem;
}
.h-wrapper .h-container .h-menu .link{
    color: var(--secondary-color);
    font-size: .9rem;
}
.search-btn{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.menu-icon{
    display: none;
}

@media(max-width: 768px){
    .menu-icon{
        display: block;
    }
    .h-wrapper .h-container{
        padding: 2rem 2rem 1rem 2rem;
    }
    .h-wrapper .h-container .h-menu{
        /* width: 300px; */
        position: absolute;
        top: 4rem;
        right: 3.5rem;
        background: white;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        font-weight: 500;
        /* align-items: flex-start; */
        gap: 1.5rem;
        padding: 2.8rem;
        box-shadow: 0px 6px 10px rgba(214, 213, 213, 0.1);
        transition: all 300ms ease-in;
    }
    .h-wrapper .h-container .h-menu .link,
    .search-btn{
        color: var(--dark);
    }

}
@media(max-width: 600px){
    .h-wrapper .h-container{
        padding: .8rem 1rem;
    }
}