.h-wrapper{
    background-color: var(--dark);
    color: white;
    position: relative;
}
.h-wrapper .h-container{
    justify-content: space-between;
    padding: 2rem 4rem 1rem 4rem;
}
.h-wrapper .h-container .h-menu{
    gap: 1.5rem;
}
.h-wrapper .h-container .h-menu .link{
    color: var(--secondary-color);
    font-size: .9rem;
}
.search-btn{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background: none;
    outline: none;
    border: none;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
}

.menu-icon{
    display: none;
}
.search-box{
    position: absolute;
    width: 30rem;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    top: 80px;
    right: 80px;
}
.search-box .input-field{
    width: 100%;
    height: 50px;
    padding: 0 5px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box .input-field input{
    padding: 5px 10px;
    width: 100%;
    outline: none;
    border: none;
}
.search-box .input-field .cancel-icon{
    color: #444;
    cursor: pointer;
}
.search-box .input-field .cancel-icon:hover{
    color: #830b0b;
}


@media(max-width: 768px){
    .menu-icon{
        display: block;
    }
    .h-wrapper .h-container{
        padding: 2rem 2rem 1rem 2rem;
    }
    .h-wrapper .h-container .h-menu{
        /* width: 300px; */
        position: absolute;
        top: 4rem;
        right: 3.5rem;
        background: white;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        font-weight: 500;
        /* align-items: flex-start; */
        gap: 1.5rem;
        padding: 2.8rem;
        box-shadow: 0px 6px 10px rgba(214, 213, 213, 0.1);
        transition: all 300ms ease-in;
        z-index: 1000;
    }
    .h-wrapper .h-container .h-menu .link{
        color: var(--dark);
    }
    .search-btn{
        display: none;
    }

}
@media(max-width: 600px){
    .h-wrapper .h-container{
        padding: .8rem 1rem;
    }
}