*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}
:root{
    --primary: #0929de;
    --white: #f8f1f1;
    --secondary-color: rgba(255, 255, 255, 0.968);
    --text-color: rgba(225, 224, 224, 0.787);
    --dark: #191923;
    --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}
body{
    background: #111117;
}
.inner-w{
    width: 100%;
}
.center-flex{
    display: flex;
    row-gap: 1.7rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    font-weight: 500;
    padding: .8rem 1rem;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 50px;
    width: 140px;
    transition: all 300ms ease-in;
    text-align: center;
}
/* .btn a{
    color: white;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
} */



/*======== Media Queries =========*/
@media (min-width: 1536px) {
    .inner-w{
        max-width: 1280px;
        margin: 0 auto;
    }
}
@media (min-width: 640px), (min-width: 300px) {
    .padding{
        padding: 1rem;
    }
}
@media (min-width: 1280px), (min-width: 768px) {
    .padding{
        padding: 2rem;
    }
}












